@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Lato;
}

html, body {
    height: 100%;
    width: 100%;
}

// nav {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 50;
// }

nav.navbar.navbar-inverse {
    border-radius: 0;
}

.buttons {
    text-align: center;
    button {
        outline: none !important;
        margin: 10px;
    }
}

.managerFeatures > .managerFeatureContainer {
    display: grid;
    grid-template-columns: 3fr 7fr;

    .sidebar {
        button {
            display: block;
            margin: 10px auto;

            &.active {
                background: white;
                border: none;
                
            }
        }
    }
}

ul.notificationsPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 100;

    li {
        list-style-type: none;
        text-align: center;
        padding: 10px;
        border: solid grey 1px;
        margin: 5px;
        border-radius: 8px 0 0 8px;
        background: #c7c7c7;
    }
}

// GAUTAM STYLES
.email{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.panel_1{
    position: relative;
    left: 260px;
    top:140px;
    width:45%;
}
.border_control{
    border: 0;
    background-color: #f5f5f5;
}
.mtitle{
    background-color: tomato;
}
.domainName{
    width: 40%;
}
.table1{
    width:70%;
    margin-left: 15%;
    margin-right:15%;
}
.finline{
    display:inline;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
th {
 height: 50px;
 width: 10px;
 text-align: center;
}
.tabhead{
  margin-top: 50px;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
}
.form1{
    padding: 15px;
  
}
.frow {
    margin-bottom: 0px;
}
.datetag{
    width:50%;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.container-report {
    width: 100vw;
    height: 100vh;
}